:root {
    --border-all: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font: normal 14pt sans-serif;
    color: black;
}

.content {
    padding: 40px;
}

.number-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: auto;
    background-image: url('hundrede.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.input-box{
    margin-top: 40px;
    font-weight: normal;
    font-size: 14pt;
    padding: 10px;
    width: 90%;
    height: auto;
}

.random-number {
    font-weight: bold;
    font-size: 34pt;
    padding: 10px;
    width: 55px;
    height: 55px;
    background-color: rgb(219, 250, 219);
    border: 1px solid black;
}

.input-number {
    font-weight: bold;
    font-size: 34pt;
    padding: 10px;
    width: 55px;
    height: 55px;
    border: var(--border-all);
}
.input-number-answer-hor {
    font-weight: bold;
    font-size: 34pt;
    padding: 10px;
    margin-top: -1px;
    margin-bottom: -1px;
    width: 55px;
    height: 55px;
    background-color: lightgreen;
    border: 1px solid black;
}

.input-number-answer-ver {
    font-weight: bold;
    font-size: 34pt;
    padding: 10px;
    margin-left: -1px;
    margin-right: -1px;
    width: 55px;
    height: 55px;
    background-color: lightgreen;
    border: 1px solid black;
}

.info-text-ver {
    text-align: center;
    font-weight: bold;
    font-size: 8pt;
    padding: 10px;
    width: 55px;
    height: 55px;
    margin-right: -1px;
    margin-left: -1px;
    background-color: aliceblue;
    border: 1px solid black;
}
.info-text-hor {
    text-align: center;
    font-weight: bold;
    font-size: 8pt;
    padding: 10px;
    width: 55px;
    height: 55px;
    margin-top: -1px;
    margin-bottom: -1px;
    background-color: aliceblue;
    border: 1px solid black;
}

button{    
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin: 20px;
    padding: 0;}

button.btn-blue {
    background-color: rgb(89, 89, 236);
    color: aliceblue;
}

button.btn-white {
    background-color: white;
    color: black;
}

button.btn-start {
    background-color:rgb(219, 250, 219);
    color: black;
    border: 4px solid black;
}
button.btn-answer {
    background-color: rgb(0, 255, 13);
    color: black;
}

button.timer {
    background-color: white;
    color: black;
}