:root {
    --border-all: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font: normal 14pt sans-serif;
    color: black;
}

.content {
    padding: 40px;
    border: var(--border-all);
}

.number-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(0, 6%, 14%);
    width: 600px;
    height: 600px;
    background-image: url('hundrede.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.random-number {
    font-weight: bold;
    font-size: 34pt;
    padding: 10px;
    width: 53px;
    height: 53px;
}

.input-number {
    font-weight: bold;
    font-size: 34pt;
    padding: 10px;
    width: 53px;
    height: 53px;
}

.info-text {
    font-weight: bold;
    font-size: 8pt;
    padding: 10px;
    width: 53px;
    height: 53px;
}

button.btn-blue {
    background-color: rgb(89, 89, 236);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin: 20px;
    padding: 0;
    color: aliceblue;
}

button.btn-white {
    background-color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin: 20px;
    padding: 0;
    color: black;
}